{{!-- 

This view will be shown when the 'GET /logout' endpoint is called and will:
-Inform the user that they have been logged out
-Provide a URL hyperlink to the / route

 --}}
 <main class="logout-class">
    <h4>You've been logged out</h4>
 </main>