{{!--

If the user is logged in, and 'GET /protected' endpoint is called, you will render this view that displays:
-Username (which you stored in the session when they logged in) for the currently logged in user
-The current date/time

Also, you will need to have a hyperlink at the bottom of the page to /logout.

--}}

<main class="private-class">
    <div class="titlecard-header">
        <h1 class="title">{{username}}'s Profile</h1>
    </div>
    <article class="view-decks">
        <h2>My Actions</h2>
        <a href="/protected/decks">View my decks</a>
        <a href="/protected/folders">View my folders</a>
        <a href="/protected/publicdecks">Browse public decks</a>
    </article>
</main>
<footer>
    <nav>
        <a href="/logout">Click here to log out</a>
    </nav>
</footer>