<main>
    <h1>{{deckName}}</h1>
    <p>{{errorMessage}}</p>
    <link rel="stylesheet" href="/public/css/style.css">
    <form action="/protected/decks" method="POST" id="create-card-form" class="create-card-form">
        <p>Create a new card:</p> <br>
        <label for="cardFrontInput">Front</label>
        <input id="cardFrontInput" type="text" name="cardFrontInput"> <br>
        <label for="cardBackInput">Back</label>
        <input id="cardBackInput" type="text" name="cardBackInput"> <br>
        <button type="submit">Add card</button>
    </form>
    
    <ol class="card-list">
        {{#each card}}
            <li>{{this.front}} : {{this.back}}</li>
        {{/each}}
    </ol>
</main>