<header class="titlecard-header">
    <h1 class="title">QuackDown Study</h1>
</header>
{{#if loggedIn}}
    <p>You are logged in (unironically)</p>
    <article class="login-homepage-buttons">
        <h2>Your actions:</h2>
        <div class="actions-container">
            <p><a href="/protected">Visit your page</a></p>
            <p class="text">or</p>
            <p><a href="/logout">Logout</a></p>
        </div>
    </article>
{{else}}
    <div class="entry-button-container">
        <form action="/register" method="GET" class="register-form-homepage">
            <button class="entry-button">Register</button>
        </form>
        <p class="entry-inner-text">or</p>
        <form action="/login" method="GET" class="login-form-homepage">
            <button class="entry-button">Login</button>
        </form>
    </div>
{{/if}}