/*This file should have CSS rulesets */

/* Global variables for colors */
:root {
    --bg-gray: rgb(31,32,43);
    --titlecard-gray: rgb(26,27,37);
    --titlecard-yellow: rgb(153,133,68);
    --button-color: rgb(153,133,68);
    --button-color-highlight: /*rgb(43,68,127)*/ rgb(145,118,55);
    --nav-background: rgba(10,20,30,0.8);
    --text-yellow: rgb(230,230,0);
    --color-sky-blue: rgb(100,200,255);
}

html, body {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    display: flex;
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    flex-direction: column;
    box-sizing: border-box;
}

.login-homepage-buttons {
    text-align: center;
    font-size: 40px;
}
.login-homepage-buttons h2 {
    margin: 0px 60px;
    color: white;
}

.actions-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.register-form-homepage button {
    font-size: 40px;
}

li {
    font-size: 40px;
    margin: 0px 30px;
    text-align: center;
}
div {
    text-align: center;
    font-size: 50px;
    color:rgb(255,0,0);
}
textarea {
    font-size: 30px;
}
p {
	color: var(--text-yellow);
	font-weight: normal;
    font-size: 28px;
    text-align:center;
}
header {
    color: rgb(255,255,255);
    font-size: 25px;
    margin-left: 15px;
}
body {
    background-color: var(--bg-gray);
    /*background-image: url('../public/background2.jpg');
    background-size: cover;*/
}
form {
    font-size: 40px;
    text-align: center;
}
.begin {
    text-align: center;
    font-size: 30px;
}
input {
    font-size: 30px;
    border: 4px solid;
    margin: 10px 60px;
    font-weight: bold;
    border-radius: 8px;
}

#targetSubject {
    width: 300px;
    height: 50px;
    margin: 5px 30px;
}

input:hover {
    box-shadow: 0 0 5px 1px rgba(255,255,255,0.5);
}
input:focus {
    border-radius: 8px;
    box-shadow: 0 0 5px 1px rgba(246, 236, 47, 0.87);
    outline: none;
    background-color: rgb(250, 250, 239);
}

li {
    color: white;
}

.checkbox, .radio {
    width: 30px;
    height: 30px;
    background-color: white;
}

.label-text {
    font-size: 20px;
}

select {
    font-size: 30px;
    width: 300px;
    height: 50px;
    background-color: white;
    border: 4px solid;
    margin: 5px 30px;
    font-weight: bold;
    border-radius: 8px;
}

label {
    color: white;
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

li {
    color:white;
}

h1 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62px;
}

h2 {
    text-align: center;
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 40px;
}

h3 {
    font-size:24px;
    margin-left: 20px;
    color:rgb(255,255,200);
}

button {
    font-size: 20px;
}

.entry-button-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 30px;
}

.entry-inner-text {
    color: white;
    margin-top: 40px;
    font-size: 30px;
}

.entry-button {
    margin: 0 15px;
    padding: 10px 10px;
    background-color: var(--bg-gray);
    border-radius: 4px;
    border: 4px;
    border-color: none;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    width: 250px;
    height: 100px;
    text-decoration: underline;
}

.entry-button:hover {
    background-color: var(--button-color-highlight);
    cursor: pointer;
    text-decoration: none;
}

footer {
    position: absolute;
    bottom: 0;
    left: 0;
    margin-bottom: 13px;
}
a {
    color: rgb(255,255,255);
}
a :hover {
    color: rgb(255,255,100);
}
nav {
    margin-top: 12px;
}
nav .align-right {
    text-align: right;
}

nav a, .login-homepage-buttons a {
    background-color: /*#0081a2*/ var(--bg-gray);
    color: white;
    text-align: center;
    font-weight: 1000;
    padding: 12px 16px;
    font-size: 20px;
    border: 0;
    text-decoration: underline;
}

nav a:hover, .login-homepage-buttons a:hover, .view-decks a:hover {
    background-color: var(--button-color-highlight);
    text-decoration: none;
}

.view-decks a {
    background-color: /*#0081a2*/ var(--bg-gray);
    color: white;
    /* text-align: center; */
    font-weight: 1000;
    padding: 12px 16px;
    text-decoration: none;
    font-size: 20px;
    border: 0;
    text-decoration: underline;
    width: 175px;
}

.text {
    color: white;
    font-size: 20px;
    margin: 35px 20px 0;
}

.titlecard-header {
    width: 100%;
    padding: 48px 0;
    text-align: center;
    background-color: var(--titlecard-gray);
    margin: 12px 0;
}

.titlecard-header .title {
    font-size: 63px;
    margin: 20px 0 10px;
}

.view-decks {
    display: flex;
    flex-direction: column;
    justify-content: left;
    font-size: 70px;
}

.view-decks:nth-child(n) {
    margin-left: 100px;
    padding: 0;
}

.view-decks h2 {
    text-align: left;
    font-size: 40pt;
}

.login-form button {
    margin: 20px 15px;
    padding: 10px 10px;
    background-color: var(--button-color);
    border-radius: 4px;
    border: 4px;
    border-color: none;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 75px;
}

.login-form button:hover {
    background-color: var(--button-color-highlight);
    cursor: pointer;
}
.registration-form button, .submit-button {
    margin: 20px 15px;
    padding: 10px 10px;
    background-color: var(--button-color);
    border-radius: 4px;
    border: 4px;
    border-color: none;
    color: #eeeeee;
    text-align: center;
    font-size: 30px;
    width: 200px;
    height: 75px;
}

.small-button {
    width: 150px;
    height: 50px;
}

.large-button {
    width: 300px;
    height: 100px;
}

.registration-form button:hover, .submit-button:hover {
    background-color: var(--button-color-highlight);
    cursor: pointer;
}

.submit-button {
    margin-left: 185px;
}

.private-class {
    color:rgb(255,255,255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logout-class {
    color:rgb(255,100,100);
    font-style: italic;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forbidden-class h1 {
    color:rgb(255,0,0);
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif
}

.create-deck-form {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
    margin-left: 20px;
}

.deck-list {
    margin-right: 20px;
    color: white;
}

.deck-list a {
    text-decoration: underline;
    color:white;
}

.deck-list a:hover {
    color:rgba(246, 236, 47, 0.87);
}

.spacer {
    width: 5%;
    padding: 0;
}

.deck-page-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
}

.deck-page-column {
    display: flex;
    flex-direction: column;
    justify-content: left;
    width: 100%;
}

[name="flashcardsEmpty_buttons"], [name="matchingGameEmpty_buttons"] {
    text-align: center;
}


.flashcard-box {
    position: middle;
    border: 4px solid black;
    background-color: white;
    color: black;
    padding: 10px;
}


/*  Source: https://blog.hubspot.com/website/remove-underline-from-links-css  */

#flashcard-right-arrow-button:link {
    font-size: 90px;
    text-decoration: none;
    position: absolute;
    right: 0;
}

#flashcard-right-arrow-button:visited {text-decoration: none;}
#flashcard-right-arrow-button:hover   {text-decoration: none;}
#flashcard-right-arrow-button:active  {text-decoration: none;}

/*   end source   */

[name="match-span"] {
    line-height: 1.3;
}

[name="match-form"] {
    font-size: small;
    position: absolute;
    bottom: 0;
}

#match-fronts {
    text-align: left;
    position: absolute;
    left: 0;
}

#match-backs {
    text-align: right;
    position: absolute;
    right: 0;
}

.match-item {
    font-size: 30px;
    text-align: left;
}

.error {
    color: red;
    font-size: 30px;
    font-style: italic;
    font-weight: light;
    text-align: center;
}

.success {
    color: green;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
}

#correct-match-answer {
    position: absolute;
    bottom: 0;
    margin-left: 625px;
}
