/*This file should have CSS rulesets */

/* Global variables for colors */
:root {
    --bg-gray: rgb(90,90,90);
    --text-yellow: rgb(230,230,0);
    --color-sky-blue: rgb(100,200,255);
}
.login-homepage-buttons {
    text-align: center;
    font-size: 40px;
}
.login-homepage-buttons h2 {
    margin: 0px 60px;
    color: var(--color-sky-blue);
}
.login-form-homepage button {
    font-size: 40px;
}
.register-form-homepage button {
    font-size: 40px;
}

.deck-list li {
    font-size: 40px;
}

p {
	color: var(--text-yellow);
	font-weight: normal;
    font-size: 28px;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align:center;
}
header {
    color: var(--color-sky-blue);
    font-size: 40px;
}
body {
    background-color: var(--bg-gray);
    /*background-image: url('../public/background2.jpg');
    background-size: cover;*/
}
form {
    font-size: 40px;
    text-align: center;
}
.begin {
    text-align: center;
    font-size: 30px;
}
input {
    font-size: 40px;
    border: 4px solid;
    margin: 10px 60px;
    font-weight: bold;
}
input:hover {
    box-shadow: 0 0 50px 10px rgba(255,255,255,0.5);
}
input:focus {
    border-color: var(--color-sky-blue);
    border-radius: 8px;
    box-shadow: 0 0 50px 10px rgba(100,200,255,0.5);
}
label {
    color: var(--color-sky-blue);
    font-weight: bold;
    text-align: center;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1 {
    text-align: center;
    color:var(--color-sky-blue);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 62px;
}

nav {
    background-color: rgba(10,20,30,0.8);
    font-size: 30px;
    color: rgb(190,190,255);
    border: 1px solid rgb(0,98,190);
    margin: 80px 0px;
}
nav:hover{
    transition: .25s;
    font-size:33px;
}
footer:hover {
    box-shadow: 0 0 50px 10px rgba(100,200,255,0.5);
}
.view-decks {
    font-size: 70px;
    text-align: center;
}
.login-form button {
    font-size:30px;
    color:rgb(0,100,255);
    background-color: rgb(0,0,0);
    border-color: rgb(200,200,200);
    border-radius: 10px;
}

.login-form button:hover {
    transition: 0.25s;
    font-size: 40px;
    text-align: left;
    border-color:rgb(0,200,255);
    color:rgb(0,221,255);
    box-shadow: 0 0 50px 10px rgba(100,200,255,0.5);
}
.registration-form button{
    font-size:69px;
    color:rgb(0,255,0);
    background-color: rgb(0,0,0);
    border-color: rgb(200,200,200);
    border-radius: 10px;
}
.registration-form button:hover {
    transition: 0.25s;
    font-size:80px;
    border-color: rgb(0,255,0);
}
.private-class {
    color:rgb(255,255,255);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.logout-class {
    color:rgb(255,100,100);
    font-style: italic;
    font-size: 24px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.forbidden-class h1 {
    color:rgb(255,0,0);
    font-weight: lighter;
    font-family:'Times New Roman', Times, serif
}